body {
	text-align: center;
	background-color: rgb(18, 18, 76);

}

div {
  margin-top: 15px;
}

img {
	height: 400px;
	width: 800px;
}



.parent {
  position: absolute;
  top: 100;
  left: 0;
}
.image {
  position: relative;
  top: 0;
  left: 0;
}


.section-style {
  margin-right: 500px;
  margin-left: 500px;
  background-color: #00FFFF;
}
